
  /* new */
  .breaking-news-headline {
    display: block;
    position: absolute;
    font-family: arial;
    font-size: 13px;
    margin-top: -22px;
    color: white;
    margin-left: 150px;
    
  }
  
  /* Main container: Flexbox layout */
  .main-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: auto; /* Đảm bảo container tự điều chỉnh theo nội dung */
  }
  
  .sidebar {
    margin-bottom: 10px;
    position: sticky;
    top: 0; /* Vị trí cố định của sidebar */
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 0px;
    padding-left: 20px;
  }
  
  /* Marquee effect */
  .marquee {
    position: absolute;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    0% { left: 100%; }
    100% { left: -100%; }
  }
  
  
  .container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 20px;
    z-index: 1;
    margin-left: 260px;
  }
  .updates {
    width: 100%;
    margin-right: 330px; /* Đảm bảo khoảng cách giữa updates và popular-groups */
  }
  .post{
    position: relative;
  }
  .popular-groups {
    z-index: -1;
    position: fixed;
    height: 100vh;
    top: 85px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    right: 0;
  }
  .update-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .update-header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  .update-header select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .update-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  .update-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .update-card-header .user-info {
    display: flex;
    align-items: center;
  }
  .update-card-header .user-info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .update-card-header .user-info .user-name {
    font-weight: 700;
    font-size: 16px;
  }
  .update-card-header .user-info .user-role {
    background-color: #6c63ff;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 10px;
  }
  .update-card-header .post-time {
    font-size: 12px;
    color: #888;
  }
  .update-card img {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
  }
  .update-card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #888;
  }
  .popular-groups h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .group img {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .group .group-info {
    font-size: 14px;
  }
  .group .group-info .group-name {
    font-weight: 500;
  }
  .group .group-info .group-members {
    color: #888;
  }

  .waviy {
    position: relative;
    
    font-size: 76px;
    margin-bottom: 60px;
   
    display:flex ;
    justify-content: space-around;
  }
  .waviy span {
    font-family: 'Alfa Slab One';
    position: relative;
    display: inline-block;
    color: #000000;
    text-transform: uppercase;
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }