<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduce Major</title>
</head>
<body>
    <br>
        <h3>Lịch học của các ngành</h3>
        <form th:action="@{/scheduceMajor}" method="post">
                <button type="submit" name="major" value="DE">DE - Developer Engineering (Kỹ thuật phần mềm)</button></br>
                <button type="submit" name="major" value="IA">IA - Information Assurance (An toàn thông tin)</button></br>
                <button type="submit" name="major" value="AI">AI - Artificial Intelligence (Trí tuệ nhân tạo)</button></br>
                <button type="submit" name="major" value="DA">DA - Digital Art (Thiết kế mỹ thuật số)</button></br>
                <button type="submit" name="major" value="DM">DM - Digital Marketing</button></br>
                <button type="submit" name="major" value="IB">IB - International Business (Kinh doanh quốc tế)</button></br>
                <button type="submit" name="major" value="HM">HM - Hospitality Management (Quản trị khách sạn)</button></br>
                <button type="submit" name="major" value="EL">EL - English Language (Ngôn ngữ Anh)</button></br>
                <button type="submit" name="major" value="JL">JL - Japan Language (Ngôn ngữ Nhật)</button></br>
                <button type="submit" name="major" value="MC">MC - Multimedia Communication (Truyền thông đa phương tiện)</button></br>
        </form>
    </div> 
</body>
</html>

