<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Danh Sách Môn Học</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/assets/css/headerNav.css}"
    />
    <script src="/assets/js/headerNav.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/assets/css/allOfSubject.css}"
    />
  </head>

  <body>
    <div th:insert="~{headerNav :: header}"></div>
    <div th:insert="~{headerNav :: navAdmin}"></div>
    <div class="student-list-container">
      <h1>Danh Sách Môn Học</h1>

      <!-- Phần lọc -->
      <div class="filter-container">
        <!-- Dropdown lọc theo chuyên ngành -->
        <select id="majorFilter" onchange="filterSubjects()">
          <option value>Mã Chuyên Ngành</option>
          <th:block th:each="major : ${majorIds}">
            <option
              th:value="${major.majorID}"
              th:text="${major.majorName}"
            ></option>
          </th:block>
        </select>

        <!-- Ô tìm kiếm theo tên sinh viên -->
        <input
          type="text"
          id="searchInput"
          placeholder="Tìm kiếm theo tên môn học"
          onkeyup="filterSubjects()"
        />
      </div>

      <!-- Bảng Sinh Viên -->
      <table id="studentTable">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên Môn Học</th>
            <th>Mã Môn Học</th>
            <th>Số Tín Chỉ</th>
            <th>Kỳ</th>
            <th>Mã Chuyên Ngành</th>
            <th>Môn Tiên Quyết</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="subject, iterStat : ${subjects.content}">
            <tr
              class="student-row"
              th:data-major="${subject.major.majorID}"
              th:data-name="${subject.subjectName}"
              th:data-subjectid="${subject.subjectID}"
            >
              <td th:text="${iterStat.index + 1}"></td>
              <td>
                <span
                  class="student-name"
                  th:text="${subject.subjectName}"
                ></span>
              </td>
              <td th:text="${subject.subjectID}"></td>
              <td th:text="${subject.subjectCredit}"></td>
              <td th:text="${subject.ternNo}"></td>
              <td th:text="${subject.major.majorID}"></td>
              <!-- Môn Tiên Quyết -->
              <td>
                <!-- Lặp qua danh sách môn tiên quyết -->
                <span
                  th:each="prerequisiteSubject : ${prerequisiteSubjects}"
                  th:if="${prerequisiteSubject.getSubject().getSubjectID() == subject.subjectID}"
                  th:text="${prerequisiteSubject.prerequisiteSubjectID != 'null' && prerequisiteSubject.prerequisiteSubjectID != '' 
               ? prerequisiteSubject.prerequisiteSubjectID + ' ' 
               : 'Không có'}"
                ></span>
              </td>
            </tr>
          </th:block>
        </tbody>
      </table>

      <!-- Phân trang -->
      <div>
        <nav>
          <ul class="pagination">
            <li
              class="page-item"
              th:classappend="${currentPage == 0 ? 'disabled' : ''}"
            >
              <a
                class="page-link"
                href="#"
                th:href="@{/allOfSubject(page=${currentPage - 1}, size=${subjects.getSize()})}"
                >&laquo;</a
              >
            </li>
            <li
              class="page-item"
              th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
              th:classappend="${i == currentPage ? 'active' : ''}"
            >
              <a
                class="page-link"
                href="#"
                th:href="@{/allOfSubject(page=${i}, size=${subjects.getSize()})}"
                th:text="${i + 1}"
              ></a>
            </li>
            <li
              class="page-item"
              th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}"
            >
              <a
                class="page-link"
                href="#"
                th:href="@{/allOfSubject(page=${currentPage + 1}, size=${subjects.getSize()})}"
                >&raquo;</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <script src="/assets/js/allOfSubject.js"></script>
  </body>
</html>
