<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/headerNav.css}" />
</head>
<body>
    <div class="header" th:fragment="header">
      <div class="logo">
        <img src="/assets/images/Logo.png" alt="Logo" />
      </div>
      <div class="search-bar">
        <input placeholder="Enter your search here..." type="text" />
        <button class="search-button">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <span class="nameAccount" th:if="${session.account.accountRole != 'admin'}" th:text="${session.profileAccount.firstName + ' ' +  session.profileAccount.lastName}"></span>
      <span class="nameAccount" th:if="${session.account.accountRole == 'admin'}" th:text="${session.profileAccount}"></span>
      <div class="icons">
        <div class="notification">
            <a href="#">
                <div class="notBtn">
                    <div class="number" th:text="${session.todayNotifications != null ? #lists.size(session.todayNotifications) : 0}"></div>
                    <i class="fas fa-bell"></i>
                    <div class="box">
                        <div class="display">
                            <div class="cont">
                                <div class="sec" th:if="${session.todayNotifications != null}" th:each="notification : ${session.todayNotifications}">
                                    <a th:href="@{/notifications/view/{id}(id=${notification.notificationID})}">
                                        <div class="profCont">
                                            <img class="profile" th:src="${notification.notificationImage}" alt="Profile Image">
                                        </div>
                                        <div class="txt" th:text="${notification.notificationName}"></div>
                                        <div class="txt sub" th:text="${#temporals.format(notification.notificationDate, 'yyyy-MM-dd')}"></div>
                                    </a>
                                </div>
                                <div class="sec" th:if="${session.todayNotifications == null || #lists.isEmpty(session.todayNotifications)}">
                                    <div class="txt">No notifications available</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div th:fragment="navAdmin">
      <div class="sidebar">
        <a th:href="@{/home}" class="menu-item">
          <i class="fas fa-tv"></i>
          <span>Trang chủ</span>
        </a>
        <a th:href="@{/studentManage}" class="menu-item">
          <i class="fas fa-user"></i>
          <span>Quản lí sinh viên</span>
        </a>
        <a th:href="@{/lecturerManage}" class="menu-item">
          <i class="fas fa-user-tie"></i>
          <span>Quản lí giảng viên</span>
        </a>
        <a th:href="@{/uniClassMajor}" class="menu-item">
          <i class="fas fa-users"></i>
          <span>Quản lí lớp học</span>
        </a>
        <a th:href="@{/subjectManage}" class="menu-item">
          <i class="fas fa-folder"></i>
          <span>Quản lí môn học</span>
        </a>
        <a href="/notifications" class="menu-item">
          <i class="fas fa-medal"></i>
          <span>Quản lí thông báo</span>
        </a>
        <a th:href="@{/scheduceMajor}" class="menu-item">
          <i class="fas fa-calendar-alt"></i>
          <span>Thời khoá biểu</span>
        </a>
        <a href="#" class="menu-item">
            <i class="fas fa-comment-alt"></i>
          <span>Quản lí feedback</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-comments"></i>
          <span>Chat</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-cog"></i>
          <span>Cài đặt tài khoản</span>
        </a>
      </div>
    </div>


    <div th:fragment="navLecture">
      <div class="sidebar">
        <a th:href="@{/home}" class="menu-item active">
          <i class="fas fa-tv"></i>
          <span>Trang chủ</span>
        </a>
        <a th:href="@{/l_lectureControl}" class="menu-item">
          <i class="fas fa-user-tie"></i>
          <span>Lớp học</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-users"></i>
          <span>Quản lí môn học</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-calendar-alt"></i>
          <span>Thời khoá biểu</span>
        </a>
        <a href="#" class="menu-item">
            <i class="fas fa-comment-alt"></i>
          <span>Feedback của sinh viên</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-comments"></i>
          <span>Chat</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-cog"></i>
          <span>Cài đặt tài khoản</span>
        </a>
      </div>
    </div>
   

    <div th:fragment="navStudent">
      <div class="sidebar">
        <a th:href="@{/home}" class="menu-item active">
          <i class="fas fa-tv"></i>
          <span>Trang chủ</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-user-tie"></i>
          <span>Lớp học</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-calendar-alt"></i>
          <span>Thời khoá biểu</span>
        </a>

        <a href="#" class="menu-item">
          <i class="fas fa-comments"></i>
          <span>Chat</span>
        </a>
        <a href="#" class="menu-item">
          <i class="fas fa-cog"></i>
          <span>Cài đặt tài khoản</span>
        </a>
      </div>
    </div>
   
  </body>
</html>