<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Danh sách Lớp Học</title>
    <script src="/assets/js/headerNav.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/assets/css/headerNav.css}"
    />
    <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/assets/css/l_feedbackStudent.css}" />
</head>

<body>
    <div th:insert="~{headerNav :: header}"></div>
    <div th:insert="~{headerNav :: navLecture}"></div>

    <div class="container1">
      <h1>Feedback Của Sinh Viên</h1>

    <!-- Danh sách lớp học -->
    <div th:each="feedback : ${feedbacks}" class="class-container">
        <h2 th:text="${feedback.uniClass.uniClassName}">Tên lớp học</h2>
        <h3 th:text="${feedback.feedbackText}">Đánh giá của sinh viên</h3>
        <h4 th:text="${feedback.uniClass.uniClassId}"> Mã Lớp Học</h4>
    </div>
</body>

</html>