<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Subjects by Major</title>
    <link
    rel="stylesheet"
    type="text/css"
    th:href="@{/assets/css/headerNav.css}" />
<link
    rel="stylesheet"
    type="text/css"
    th:href="@{/assets/css/l_viewList-subject.css}" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <script src="/assets/js/headerNav.js"></script>

</head>
<body>
    <div class="headerDiv">
        <div id="headerDiv" th:insert="~{headerNav :: header}"></div>
    </div>
    <div class="navLectureDiv">
        <div id="navLectureDiv"
            th:insert="~{headerNav :: navLecture}"></div>
    </div>
    <h1>Subjects List</h1>
    <div class="main-content">
        <table>
            <thead>
                <tr>
                    <th>Subject ID</th>
                    <th>Subject Name</th>
                    <th>Credits</th>
                    <th>Term</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="subject : ${subjects}">
                    <td>
                        <a
                            th:href="@{/viewScoreTranscriptOfSubject/{subjectID}(subjectID=${subject.subjectID})}"
                            class="btn btn-info btn-sm"
                            th:text="${subject.subjectID}">
                        </a>
                    </td>
                    <td th:text="${subject.subjectName}"></td>
                    <td th:text="${subject.subjectCredit}"></td>
                    <td th:text="${subject.ternNo}"></td>
                </tr>
                
            </tbody>
        </table>
    </div> 
   
</body>
</html>