<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="preload" href="/assets/images/68.jpg" as="image">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/login.css}">
    <title>Login Page</title>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            background: #f6f5f7;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0 ;
            background-image: url('/assets/images/68.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="#" th:action="@{/login}" method="post">
                <h1>Đăng Nhập</h1>
                <input type="text" name="accountID" placeholder="Tài khoản" required>
                <input type="password" name="accountPassword" placeholder="Mật khẩu" required>
                <button type="submit">Đăng Nhập</button>
                <a th:href="@{/forgotPassword}" class="forgot-password-link">Quên Mật Khẩu</a>
                
                <!-- Hiển thị thông báo lỗi nếu có -->
                <div class="error-message" style="color: #fff;">
                    <p th:text="${error}"></p>
                </div>
            </form>
        </div>
        <div>
            <img class="logo" src="/assets/images/Logo.png">
        </div>
    </div>

    <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
</body>

</html>
