<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/assets/js/headerNav.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/headerNav.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/s_joinTest.css}" />
</head>

<body>
    <div th:insert="~{headerNav :: header}"></div>
    <div th:insert="~{headerNav :: navStudent}"></div>
    <div class="content">
        <h1 th:text="${test.uniClass.uniClassName}">Lớp</h1>
        <h3 th:text="${test.examName}"></h3>

        <!-- Nếu đã làm bài kiểm tra -->
        <div th:if="${isTestTaken}">
            <p class="message" th:text="${error}">Bạn đã làm bài kiểm tra này rồi.</p>
        </div>

        <!-- Nếu chưa làm bài kiểm tra -->
        <div th:unless="${isTestTaken}">
            <form action="/doTest" method="post">
                <div>
                    <label for="pass">Nhập mật khẩu</label>
                    <input type="password" id="pass" name="pass">
                </div>
                <div class="password-toggle">
                    <label>
                        <input type="checkbox" onclick="togglePassword()"> Hiển thị mật khẩu
                    </label>
                </div>
                <input type="hidden" th:value="${test.testID}" name="testID">
                <button>Xác Nhận</button>
            </form>
        </div>
    </div>

    <script>
        function togglePassword() {
            const passwordInput = document.getElementById("pass");
            passwordInput.type = passwordInput.type === "password" ? "text" : "password";
        }
    </script>
</body>

</html>